<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="css/styles.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
  
<div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
	  <center><%= image_tag("logo.png", alt: 'responsive image', style:"height: 150px; width: 150px;") %></center>
	  </div>
    <div class="col-md-6">
     
     
     <nav class="navbar navbar-primary">
  <div class="container-fluid mainnav">
   	
    
    <ul class="nav nav-pills">
     
      <li><%= link_to 'Home', root_path, :class => "btn" %></li>
      <li><%= link_to 'Services', services_path, :class => "btn" %></li>
      <li  class="active"><a href="#">About Us</a></li>
      <li><%= link_to 'Gallery', gallery_path, :class => "btn" %></li>
      <li><%= link_to 'Order', order_path, :class => "btn" %></li>
      <li><%= link_to "Forum", "http://lugnuts.co" %></li>
      <li><%= link_to 'Contact Us', contact_path, :class => "btn" %></li>
      </ul>
	  
	  </div>
			</nav>
		
    </div>
	  <div class="col-md-3"></div>
	  <br />
	  <br />
	  <br />
	  <i>Phone:</i> 614-222-1234<br />
	  <i>email:</i> sales@lugnuts.io<br />
	  <i>Address:</i> 123 Main St. Columbus, Ohio 43212<br />
	
	</div>
	</div>



  
	   <div class="row">
		  <div class="col-md-3">
			  <%= image_tag("trump.jpg", class:"img-responsive") %><br>
			  
			  <%= image_tag("ivanka.jpg", class:"img-responsive") %>
		  </div>
		  
		  <div class="col-md-7" id="centerbox">
		  
			  <h2>Our Story:</h2>
			  
			  
		  	<p>Larry Lugnut founded Lugnut’s Automotive Parts Supply nearly 50 years ago with a passion for customer service being his main focus. Larry built a community of automotive enthusists that felt more like a club than a store. It was because of this that the company has thrived for so long. Larry helped his customers no matter the cost. Because of this, there are several customers that have been with us since the beginning.</p>
			<p>When Larry passed away, he left this vision to one of the people who knew his business better than anyone else - his grandaughter Patty. Patty Lugnut grew up around the shop, and has the same passion for cars and customer service that her grandfather had. Because of this, we like to think that Larry is looking down at all of his family and friends with pride as the shop is still a plave that you see friends gathering to talk about their newest automotive projects.</p>
			<p>Patty, after graduating from The Ohio State University in marketing, has always been one to follow trends and needs of customers. She saw an exciting opportunity in the automotive wraps sector, but realized that there were a lot of missing pieces. The graphic design aspects were often something the customer was left out in the cold with. By having designers on hand, Lugnuts Automotive Wraps has the ability to work with the customer in a very intimate manner, and fulfill any needs that they may have. Patty believes that the most important aspect of the process is customer feedback, and this allows for a satisfied buyer. After all, Patty being a marketing major herself understands the importance that design can play in how people react to your business fleet, or even your personal vehicle.</p>
			  
					  	
		  </div>
		   <div class="col-md-2">
			   <p><strong>Rob Baker:</strong> "Larry always had a story. If you mentioned a car, he could tell you about a memory he had with it. He was always so friendly towards everyone. I don't think he ever met a stranger."</p>
			   <p><strong>Darren Wilson:</strong> "People loved Larry. He was always a giving person, and would quietly dontate to charities around the area. Many little league teams had the Lugnuts Automotive sponsor on them. My 4th grade team did!"</p>
			   <p><strong>Mary Sutton:</strong> "Talking to Patty is a lot like Larry, warm, friendly, and so very helpful. He couldn't have left the business with a better person."</p>
			   <p><strong>Alexa Davis:</strong> "I am not a car person, but the staff at Lugnuts has always been helpful, and I know I can trust them."
		   </div>
		  
		   
		  </div>
	 
   <div id="bottom">	
	  	<div class="row">
	  		<footer id="footer">
	  			<div class="container-fluid">
	  				<div class="col-md-3">
	  				</div>
	  				<div class="col-md-6">
	  				<h4>
	  				Please feel free to reach out with any questions that you may have. Also, don't forget to check out our forums, where you can talk to other 'car people', and continue our tradition of being a place where motor heads can find others with the answers. We have a great community, and are proud to be a hub for them.
						</h4>
						<p>
						&copy; 2017 Lugnuts Automotive Wraps LLC
						</p>
	  				
	  				</div>
	  				<div class="col-md-3">
	  				</div>
				</div>
			</footer>

	  	
	  </div>
		  </div>
  
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="js/jquery-1.11.3.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
