<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="css/styles.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
  
<div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
	  <center><%= image_tag("logo.png", alt: 'responsive image', style:"height: 150px; width: 150px;") %></center>
	  </div>
    <div class="col-md-6">
     
     
     <nav class="navbar navbar-primary">
  <div class="container-fluid mainnav">
   	
    
    <ul class="nav nav-pills">
     
      <li><%= link_to 'Home', root_path, :class => "btn" %></li>
      <li><%= link_to 'Services', services_path, :class => "btn" %></li>
      <li  class="active"><a href="#">About Us</a></li>
      <li><%= link_to 'Gallery', gallery_path, :class => "btn" %></li>
      <li><%= link_to 'Order', order_path, :class => "btn" %></li>
      <li><a href="#">Forum</a></li>
      <li><%= link_to 'Contact Us', contact_path, :class => "btn" %></li>
      </ul>
	  
	  </div>
			</nav>
		
    </div>
	  <div class="col-md-3"></div>
	  <br />
	  <br />
	  <br />
	  <i>Phone:</i> 614-222-1234<br />
	  <i>email:</i> webmaster@lugnuts.io<br />
	  <i>Address:</i> 123 Main St. Columbus, Ohio 43212<br />
	
	</div>
	</div>



  
	   <div class="row">
		  <div class="col-md-3">
			  <%= image_tag("trump.jpg", class:"responsive-img") %>
		  </div>
		  
		  <div class="col-md-6" id="centerbox">
		  
			  <h2>Our Story:</h2>
			  
			  
		  	<p>Larry Lugnut founded Lugnut’s Automotive Parts Supply nearly 50 years ago with a passion for customer service being his main focus. Larry built a community of automotive enthusists that felt more like a club than a store. It was because of this that the company has thrived for so long. Larry helped his customers no matter the cost. Because of this, there are several customers that have been with us since the beginning.</p>
			<p>When Larry passed away, he left this vision to one of the people who knew his business better than anyone else - his grandaughter Patty. Patty Lugnut grew up around the shop, and has the same passion for cars and customer service that her grandfather had. Because of this, we like to think that Larry is looking down at all of his family and friends with pride as the shop is still a plave that you see friends gathering to talk about their newest automotive projects.</p>
			<p>  Patty Lugnut has since expanded into the exciting world of automotive wraps. The love of marketing and design has driven her to this point, and she continues to expand on her grandfather's vision - but with an emphasis on the newest trends in the automotive world.</p>
			  
					  	
		  </div>
		  
		   <div class="col-md-3">
			  <h3><center>News...</center></h3>
			  <p>We recently have sold our 5,000th automotive wrap, and are so thankful for all of our customers. We are offering a free wrap if you buy 5. This offers even more value for our fleet customers, which of course often become long-term customers! </p>

			<p>We read this recently, and think that this is a good intro the needs for proper wrap installation, and things to think about before you install your Lugnuts Automotive Wrap. Tanvir Zafar of TGDaily wrote <a href="http://www.tgdaily.com/sport/seven-secrets-to-the-perfect-car-wrap" target="_blank">"Seven Secrets to the Perfect Car Wrap"</a>, and we couldn't agree more with some of his thoughts.</p>

			<p>Lugnuts Automotive Wraps work was recently featured in the Mid Ohio 400 road course race. Three of the teams: Buckeye Speed Inc., C.D.L. Auto Sport Inc., and Rising Sun Road Sports were all looking rather sporty with our color wraps. As a side note, we were on the winning car, the #14 car of C.D.L. Auto Sport Inc. Conrgats guys!!! </p>

			<p>Lugnuts Automotive Wraps has been working closely with <a href="http://www.feedthechildren.org" target="_blank">Feed the Children</a> recently, as we continue our commitment to making the world a better place. We consistently donate to this great cause, and encourage you to do so as well. Together, we can all make the lives of children around the world. 			
			</p>
			<a href="#"><%= image_tag("facebook.png", alt: 'responsive image') %></a>
			<a href="#"><%= image_tag("instagram.png", alt: 'responsive image') %></a>
			<a href="#"><%= image_tag("skype.png", alt: 'responsive image') %></a>
		  </div>
		  </div>
	  <div id="bottom">	
	  	<div class="row">
	  		<footer id="footer">
	  			<div class="container-fluid">
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
				</div>
			</footer>

	  	
	  </div>
		  </div>

  
  
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="js/jquery-1.11.3.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
