<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lugnuts Automotive Wraps</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="css/styles.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
  
<div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
	  <center><%= image_tag("logo.png", alt: 'responsive image', style:"height: 150px; width: 150px;") %></center>
	  </div>
    <div class="col-md-6">
     
     
     <nav class="navbar navbar-primary">
  <div class="container-fluid mainnav">
   	
    
    <ul class="nav nav-pills">
     
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Services', services_path, :class => "btn" %></li>
      <li><%= link_to 'About', about_path, :class => "btn" %></li>
      <li><%= link_to 'Gallery', gallery_path, :class => "btn" %></li>
      <li><%= link_to 'Order', order_path, :class => "btn" %></li>
      <li><a href="#">Forum</a></li>
      <li><%= link_to 'Contact Us', contact_path, :class => "btn" %></li>
      </ul>
	  
	  </div>
			</nav>
		
    </div>
	  <div class="col-md-3"></div>
	  <br />
	  <br />
	  <br />
	  <i>Phone:</i> 614-222-1234<br />
	  <i>email:</i> webmaster@lugnuts.io<br />
	  <i>Address:</i> 123 Main St. Columbus, Ohio 43212<br />
	
	</div>
	</div>



  
	  <div class="row">
		  <div class="col-md-3">
			  <h3><center>Testimonials:</center></h3>
			  <p><b>Rich Davis, Davis Contracting:</b> "Working with Patty and her employess has been a real pleasure. The fleet needed to look as professional as possible, and the instruction that her people gave us was invaluable. We found the installation of her graphics very easy, and she was haevily involved in the process from the very first step. As we add trucks, we will return to Lugnuts Automotive Wraps for all of our logo and wrap needs."</p>
			  <p><b>Ted Hoffmann, Mid-Ohio Produce: </b> "We had originally went with another company. However, as we continued to have problems with them, we reached out to Patty. The response was quick, and we switched immediately. With her help, we got our trucks done in an orderly fashion, and I must say that the quality of the graphics was far superior to her competitor. If you are thinking about using them - do it." </p>
			  <p><b>Marcy Gray, WCMH TV: </b> "As a local affiliate of NBC, we have a very specific set of guidelines when it comes to branding. Luckily for us, Lugnuts was not only well versed in the need, but had worked with our sister station in Louisville, and was familiar with the specific needs of a local NBC affiliate. Because of this, the process went smoothly, and was incredibly quick. We will be returning as cusomters."</p>
			  <p><b>Hideo Tanaka, Rising Sun Autosports: </b>"With our specialty being drift racing, there is a lot of pressure to not only perform, but to stand out in the crowd. This is where branding becomes so crucial. Lugnuts understood this, and worked long hours with our team to ensure that the final product was exactly what we needed to stand out from the crowd."</p>
		  </div>
		  
		  <div class="col-md-6">
		  
			  <h2><center>Automotive Wraps Done Right</center></h2>
			  
			  
<div class="embed-responsive embed-responsive-16by9">
 	<iframe width="560" height="315" src="https://www.youtube.com/embed/NBqmYVMbiI4" frameborder="0" allowfullscreen></iframe>
</div>

		  	
					  	
		  </div>
		  
		  <div class="col-md-3">
			  <h3><center>News...</center></h3>
			  <p>We recently have sold our 5,000th automotive wrap, and are so thankful for all of our customers. We are offering a free wrap if you buy 5. This offers even more value for our fleet customers, which of course often become long-term customers! </p>

			<p>We read this recently, and think that this is a good intro the needs for proper wrap installation, and things to think about before you install your Lugnuts Automotive Wrap. Tanvir Zafar of TGDaily wrote <a href="http://www.tgdaily.com/sport/seven-secrets-to-the-perfect-car-wrap" target="_blank">"Seven Secrets to the Perfect Car Wrap"</a>, and we couldn't agree more with some of his thoughts.</p>

			<p>Lugnuts Automotive Wraps work was recently featured in the Mid Ohio 400 road course race. Three of the teams: Buckeye Speed Inc., C.D.L. Auto Sport Inc., and Rising Sun Road Sports were all looking rather sporty with our color wraps. As a side note, we were on the winning car, the #14 car of C.D.L. Auto Sport Inc. Conrgats guys!!! </p>

			<p>Lugnuts Automotive Wraps has been working closely with <a href="http://www.feedthechildren.org" target="_blank">Feed the Children</a> recently, as we continue our commitment to making the world a better place. We consistently donate to this great cause, and encourage you to do so as well. Together, we can all make the lives of children around the world. 			
			</p>
			<a href="#"><%= image_tag("logo.png", alt: 'responsive image', style:"height: 150px; width: 150px;") %></a>
			<a href="#"><img src="images/instagram.png"></a>
			<a href="#"><img src="images/skype.png"></a>
		  </div>
		  </div>
	  <div id="bottom">	
	  	<div class="row">
	  		<footer id="footer">
	  			<div class="container-fluid">
	  				<div class="col-md-3">
	  				</div>
	  				<div class="col-md-6">
	  				<h4>
	  				Please feel free to reach out with any questions that you may have. Also, don't forget to check out our forums, where you can talk to other 'car people', and continue our tradition of being a place where motor heads can find others with the answers. We have a great community, and are proud to be a hub for them.
	  				</h4>
	  				</div>
	  				<div class="col-md-3">
	  				</div>
				</div>
			</footer>

	  	
	  </div>
		  </div>

  
  
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="js/jquery-1.11.3.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
